@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

body {
  background-color: rgba(0, 0, 0, 0.904);
  font-family: "Faculty Glyphic", sans-serif;
  
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.014) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.014) 1px, transparent 1px);
  background-size: 15px 15px;
}

.about-me {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 170px;
}

.role {
  font-size: 46px;
  margin-top: -12px;
  color: #E8C39A;
}

.name{
  font-size: 26px;
}