body {
  background-color: #0b0d12;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.068) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255,  0.068) 1px, transparent 1px);
  background-size: 46px 46px;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 10px;
  color: white;
  margin-top: 170px;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 8px;
}

.role {
  opacity: 0.8;
  font-size: 20px;
  margin-top: -6px;
}

.me{
  width: 300px;
  border-radius: 15px;
}

.name{
  font-size:40px;
}

.desc{
  margin-top: -3px;
  font-size: 42px;
}